/** >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
 * `.ghost` helper to visually hide elements on the page
 * mostly used for accessibility purposes
*** >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

.ghost {
	position: absolute !important;
	width: 1px;
	height: 1px;
	padding: 0;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	-webkit-clip-path: inset(50%);
	clip-path: inset(50%);
	border: 0;
}

.visibility-hidden {
	visibility: hidden;
}

/** >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
 * Helper to group JS for ease of development
 * @helper: .hidden-js
*** >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

.hidden-js {
	visibility: hidden;
}

*, ::before, ::after {
	box-sizing: inherit;
}

article, aside, footer, header, nav, section, figcaption, figure, main, details, menu {
	display: block;
}

a {
	background-color: transparent;
	color: #368457;
	line-height: inherit;
	text-decoration: none;
	cursor: pointer;
	-webkit-text-decoration-skip: objects;
}

a:active, a:hover {
		outline-width: 0;
		text-decoration: underline;
	}

a * {
		color: #1e3d43;
	}

b, strong {
	font-weight: 600;
	line-height: inherit;
}

/** >>>>>
 * NOTE: using `medium` font-sizes for old browser fallbacks
 * everything else is according to front end global style guide
*/

h1, .h1 {
	margin: 0 0 2rem;
	color: inherit;
	font: 2.8rem/1.2 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h2, .h2 {
	margin: 0 0 0.6rem;
	color: inherit;
	font: 600 2rem/1.2 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h2 + h3, h2 + .h3, .h2 + h3, .h2 + .h3 {
		margin-top: -0.6rem;
	}

h3, .h3 {
	margin: 0 0 0.6rem;
	color: inherit;
	font: 600 1.6rem/1.2 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h3 + h4, h3 + .h4, .h3 + h4, .h3 + .h4 {
		margin-top: -0.6rem;
	}

h4, .h4 {
	margin: 0;
	color: #889294;
	font: 600 1.5rem/1.2 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h5, .h5 {
	margin: 0 0 9px;
	color: inherit;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 20px;
	font-size: 1.8rem;
	font-weight: 600;
	line-height: 1.33;
}

h6, .h6 {
	margin: 0 0 9px;
	color: inherit;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 17px;
	font-size: 1.6rem;
	font-weight: 600;
	line-height: 1.38;
}

p {
	margin: 0 0 1em;
}

ul, ol, dl {
	margin-bottom: 1rem;
	list-style-position: outside;
	line-height: 1.6;
}

li {
	font-size: inherit;
}

ul {
	margin-left: 1.25rem;
	list-style-type: disc;
}

ol {
	margin-left: 1.25rem;
}

ul ul, ol ul, ul ol, ol ol {
	margin-left: 1.25rem;
	margin-bottom: 0;
}

dl {
	margin-bottom: 1rem;
}

dl dt {
	margin-bottom: 0.3rem;
	font-weight: bold;
}

nav ol, nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

figure {
	margin: 0;
}

img {
	display: inline-block;
	max-width: 100%;
	height: auto;
	border-style: none;
	vertical-align: middle;
	-ms-interpolation-mode: bicubic;
}

a img {
		border: 0;
	}

svg {
	vertical-align: middle;
	fill: currentColor;
}

svg:not(:root) {
		overflow: hidden;
	}

hr {
	clear: both;
	overflow: visible;
	max-width: 75rem;
	height: 0;
	margin: 1.25rem auto;
	border-top: 0;
	border-right: 0;
	border-bottom: 1px solid #cacaca;
	border-left: 0;
	box-sizing: content-box;
}

abbr, abbr[title] {
	border-bottom: 1px dotted #0a0a0a;
	text-decoration: none;
	cursor: help;
}

pre {
	overflow: auto;
	margin: 0;
	padding: 0.6rem;
	max-height: 400px;
	font: 1.3rem Consolas, "Liberation Mono", Courier, monospace;
	background-color: #f7f9fa;
	border: 1px solid #e1e5e6;
}

code {
	padding: 0;
	color: #1e3d43;
	font: 1.3rem Consolas, "Liberation Mono", Courier, monospace;
}

kbd {
	margin: 0;
	padding: 0.125rem 0.25rem 0;
	background-color: #e6e6e6;
	color: #0a0a0a;
	font-family: Consolas, "Liberation Mono", Courier, monospace;
	font-size: 1em;
}

dfn {
	font-style: italic;
}

samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

mark {
	background-color: #ff0;
	color: #000;
}

small {
	font-size: 80%;
}

sub, sup {
	position: relative;
	font-size: 75%;
	line-height: 0;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

optgroup {
	color: inherit;
	font: inherit;
}

input {
	overflow: visible;
	color: inherit;
	font: inherit;
	margin: 0;
	text-transform: none;
	touch-action: manipulation;
}

textarea {
	overflow: auto;
	max-width: 100%;
	margin: 0;
	color: inherit;
	font: inherit;
	text-transform: none;
	touch-action: manipulation;
	resize: vertical;
}

textarea[rows] {
		height: auto;
	}

input::-webkit-input-placeholder, input::-moz-placeholder, input:-ms-input-placeholder, input::placeholder, textarea::-webkit-input-placeholder, textarea::-moz-placeholder, textarea:-ms-input-placeholder, textarea::placeholder {
		color: #6b787b;
	}

input[readonly], textarea[readonly] {
		background-color: #cbd0d1;
		box-shadow: none;
	}

input:disabled, textarea:disabled {
		background-color: #cbd0d1;
		box-shadow: none;
	}

.input-like, [type='text'], [type='password'], [type='date'], [type='datetime'], [type='datetime-local'], [type='month'], [type='week'], [type='email'], [type='number'], [type='search'], [type='tel'], [type='time'], [type='url'], [type='color'], textarea {
	display: block;
	box-sizing: border-box;
	width: 100%;
	height: 3rem;
	margin: 0 0 1rem;
	padding: 0.5rem;
	border: 1px solid #cbd0d1;
	border-radius: 2px;
	background-color: white;
	box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.1);
	font-family: inherit;
	font-size: 1.3rem;
	font-weight: normal;
	line-height: 1.5;
	color: inherit;
	transition: box-shadow 0.5s, border-color 0.25s ease-in-out;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.input-like:focus, [type='text']:focus, [type='password']:focus, [type='date']:focus, [type='datetime']:focus, [type='datetime-local']:focus, [type='month']:focus, [type='week']:focus, [type='email']:focus, [type='number']:focus, [type='search']:focus, [type='tel']:focus, [type='time']:focus, [type='url']:focus, [type='color']:focus, textarea:focus {
		outline: none;
		border: 1px solid #9cccdf;
		background-color: #fefefe;
		box-shadow: 0 0 0 3px #c4efff;
		transition: box-shadow 0.5s, border-color 0.25s ease-in-out;
	}

[type="number"] {
	-moz-appearance:textfield;
}

[type="number"]::-webkit-outer-spin-button, [type="number"]::-webkit-inner-spin-button {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		margin: 0;
	}

[type='submit'], [type='button'] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

input[type='search'] {
	box-sizing: border-box;
}

[type='file'], [type='checkbox'], [type='radio'] {
	margin: 0 0 1rem;
}

[type='checkbox'] + label, [type='radio'] + label {
	display: inline-block;
	vertical-align: baseline;
	margin-left: 0.5rem;
	margin-right: 1rem;
	margin-bottom: 0;
}

[type='checkbox'] + label[for], [type='radio'] + label[for] {
	cursor: pointer;
}

[type='file'] {
	width: 100%;
}

label {
	display: block;
	margin: 0;
}

label > [type='checkbox'], label > [type='radio'] {
		margin-right: 0.5rem;
	}

select {
	width: 100%;
	padding: 0.5rem 1.5rem 0.5rem 0.5rem;
	font: inherit;
	color: inherit;
	background: url('/svg/select-handle-off.svg') no-repeat right -1rem center white;
	background-origin: content-box;
	background-size: 8px 11px;
	border: 1px solid #cbd0d1;
	border-radius: 2px;
	text-transform: none;
	transition: box-shadow 0.5s, border-color 0.25s ease-in-out;
	box-sizing: border-box;
	touch-action: manipulation;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}

select:focus {
		outline: none;
		border: 1px solid #9cccdf;
		background-color: #fefefe;
		box-shadow: 0 0 0 3px #c4efff;
	}

select:disabled {
		background-color: #e6e6e6;
		cursor: not-allowed;
	}

select::-ms-expand {
		display: none;
	}

select[multiple] {
		height: auto;
		background-image: none;
	}

button, [type="button"], [type="reset"], [type="submit"] {
	margin: 0;
	background-color: transparent;
	color: inherit;
	font: inherit;
	text-transform: none;
	-webkit-appearance: button;
}

fieldset {
	padding: 0.35em 0.75em 0.625em;
}

legend {
	display: table;
	max-width: 100%;
	padding: 0;
	color: inherit;
	white-space: normal;
	box-sizing: border-box;
}

summary {
	display: list-item;
}

[hidden] {
	display: none;
}

q:before, q:after {
	content: '';
}

/* Text-level semantics (https://html.spec.whatwg.org/multipage/semantics.html#text-level-semantics)
   ========================================================================== */

/*
 * Remove the text shadow on text selections (opinionated).
 * 1. Restore the coloring undone by defining the text shadow (opinionated).
 */

::-moz-selection {
	background-color: #b3d4fc; /* 1 */
	color: #000000; /* 1 */
	text-shadow: none;
}

::selection {
	background-color: #b3d4fc; /* 1 */
	color: #000000; /* 1 */
	text-shadow: none;
}

/* Embedded content (https://html.spec.whatwg.org/multipage/embedded-content.html#embedded-content)
   ========================================================================== */

/*
 * Change the alignment on media elements in all browers (opinionated).
 */

audio, canvas, iframe, video {
	vertical-align: middle;
}

/**
 * Add the correct display in IE 9-.
 */

audio, video {
	display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */

audio:not([controls]) {
	display: none;
	height: 0;
}

/* Forms (https://html.spec.whatwg.org/multipage/forms.html#forms)
   ========================================================================== */

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
	box-sizing: border-box; /* 1 */
	color: inherit; /* 2 */
	display: table; /* 1 */
	max-width: 100%; /* 1 */
	padding: 0; /* 3 */
	white-space: normal; /* 1 */
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */

[type="checkbox"], [type="radio"] {
	box-sizing: border-box; /* 1 */
	padding: 0; /* 2 */
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
	-webkit-appearance: textfield; /* 1 */
	outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
	-webkit-appearance: button; /* 1 */
	font: inherit; /* 2 */
}

/* User interaction (https://html.spec.whatwg.org/multipage/interaction.html#editing)
   ========================================================================== */

/*
 * remove the tapping delay on clickable elements
 */

a, area, button, label, summary, [tabindex] {
	touch-action: manipulation;
}

/* ARIA (https://w3c.github.io/html-aria/)
   ========================================================================== */

/**
 * Change the cursor on busy elements (opinionated).
 */

[aria-busy="true"] {
	cursor: progress;
}

/*
 * Change the cursor on control elements (opinionated).
 */

[aria-controls] {
	cursor: pointer;
}

/*
 * Change the display on visually hidden accessible elements (opinionated).
 */

[aria-hidden="false"][hidden]:not(:focus) {
	clip: rect(0, 0, 0, 0);
	display: inherit;
	position: absolute;
}

/*
 * Change the cursor on disabled, not-editable, or otherwise
 * inoperable elements (opinionated).
 */

[aria-disabled] {
	cursor: default;
}

.buttons {
	display: grid;
	grid-gap: 1rem;
	grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}

.btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	margin: 0 0 1rem;
	padding: 0.8rem 1.6rem;
	background-color: #529d71;
	border: 1px solid transparent;
	border-radius: 1px;
	color: white;
	font: 600 1.4rem/1 'Helvetica Neue', Helvetica, Arial, sans-serif;
	text-align: center;
	transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;
	cursor: pointer;
	-webkit-appearance: none;
}

.btn:hover, .btn:focus {
		background-color: #67b387;
	}

.btn .icon {
		width: 22px;
		height: 22px;
	}

.btn .icon-text {
		margin: 0 0 0 12px;
		width: 75%;
		text-align: center;
	}

.btn.tiny {
		padding: 0.4rem 0.8rem;
		font-size: 0.9rem;
		text-transform: uppercase;
	}

.btn.small {
		padding: 0.6rem 1rem;
		font-size: 1.1rem;
		text-transform: uppercase;
	}

.btn.large {
		padding: 1rem 3rem;
		font-size: 2.2rem;
	}

.btn.huge {
		padding: 2rem 5rem;
		font-size: 3.4rem;
	}

.btn.expanded {
		display: block;
		width: 100%;
		margin-right: 0;
		margin-left: 0;
	}

.btn.outline {
		background-color: transparent;
		border: 3px solid #e5b737;
		color: #1e3d43;
	}

.btn.outline:hover, .btn.outline:focus {
			background-color: #e5b737;
		}

.btn.primary {
		background-color: #e5b737;
		color: #1e3d43;
	}

.btn.primary:hover, .btn.primary:focus {
			background-color: #ba8e15;
			color: #1e3d43;
		}

.btn.secondary {
		background-color: #e5b737;
		color: #1e3d43;
	}

.btn.secondary:hover, .btn.secondary:focus {
			background-color: #ba8e15;
			color: #1e3d43;
		}

.btn.black {
		background-color: #1e3d43;
		color: white;
	}

.btn.success {
		background-color: #3adb76;
		color: inherit;
	}

.btn.success:hover, .btn.success:focus {
			background-color: #22bb5b;
			color: inherit;
		}

.btn.warning {
		background-color: #ff9e63;
		color: #1e3d43;
	}

.btn.warning:hover, .btn.warning:focus {
			background-color: #d75100;
			color: white;
		}

.btn.alert {
		background-color: #c93e37;
		color: #fefefe;
	}

.btn.alert:hover, .btn.alert:focus {
			background-color: #f87d77;
			color: #fefefe;
		}

.btn.inverse {
		background-color: rgba(255, 255, 255, 0.6);
		color: #1e3d43;
		border: 1px solid white;
	}

.btn.inverse:hover, .btn.inverse:focus {
			background-color: white;
		}

.btn.disabled, .btn[disabled] {
	cursor: not-allowed;
	pointer-events: none;
}

.btn.disabled, .btn.disabled:hover, .btn.disabled:focus, .btn[disabled], .btn[disabled]:hover, .btn[disabled]:focus {
	background-color: #cbd0d1;
	color: white;
}

.btn.disabled.primary, .btn[disabled].primary {
	opacity: 0.25;
	cursor: not-allowed;
}

.btn.disabled.primary, .btn.disabled.primary:hover, .btn.disabled.primary:focus, .btn[disabled].primary, .btn[disabled].primary:hover, .btn[disabled].primary:focus {
	background-color: #e5b737;
	color: #1e3d43;
}

.btn.disabled.secondary, .btn[disabled].secondary {
	opacity: 0.25;
	cursor: not-allowed;
}

.btn.disabled.secondary, .btn.disabled.secondary:hover, .btn.disabled.secondary:focus, .btn[disabled].secondary, .btn[disabled].secondary:hover, .btn[disabled].secondary:focus {
	background-color: #e5b737;
	color: #1e3d43;
}

.btn.disabled.success, .btn[disabled].success {
	opacity: 0.25;
	cursor: not-allowed;
}

.btn.disabled.success, .btn.disabled.success:hover, .btn.disabled.success:focus, .btn[disabled].success, .btn[disabled].success:hover, .btn[disabled].success:focus {
	background-color: #3adb76;
	color: inherit;
}

.btn.disabled.warning, .btn[disabled].warning {
	opacity: 0.25;
	cursor: not-allowed;
}

.btn.disabled.warning, .btn.disabled.warning:hover, .btn.disabled.warning:focus, .btn[disabled].warning, .btn[disabled].warning:hover, .btn[disabled].warning:focus {
	background-color: #ffae00;
	color: inherit;
}

.btn.disabled.alert, .btn[disabled].alert {
	opacity: 0.25;
	cursor: not-allowed;
}

.btn.disabled.alert, .btn.disabled.alert:hover, .btn.disabled.alert:focus, .btn[disabled].alert, .btn[disabled].alert:hover, .btn[disabled].alert:focus {
	background-color: #cc4b37;
	color: #fefefe;
}

.btn.arrow-only::after {
	top: -0.1em;
	float: none;
	margin-left: 0;
}

a.btn:hover, a.btn:focus {
	text-decoration: none;
}

html {
	background-color: white;
	font: 62.5%/1.2 'Helvetica Neue', Helvetica, Arial, sans-serif;
	/* font-size: 100%; */
	box-sizing: border-box;
	text-size-adjust: 100%;
}

/* -ms-overflow-style: -ms-autohiding-scrollbar; */

html.whiteout {
		background-color: white;
		pointer-events: none;
	}

html.whiteout body {
			opacity: 0;
		}

body {
	margin: 0;
	background-color: white;
	color: #1e3d43;
	font: 1.4rem/1.35 'Helvetica Neue', Helvetica, Arial, sans-serif;
	/* -webkit-font-smoothing: antialiased; */
	/* -moz-osx-font-smoothing: grayscale; */
}

/*# sourceMappingURL=global.css.map */