html {
	background-color: $white;
	font: 62.5%/1.2 $font;
	/* font-size: 100%; */
	box-sizing: border-box;
	text-size-adjust: 100%;
	/* -ms-overflow-style: -ms-autohiding-scrollbar; */
	&.whiteout {
		background-color: $white;
		pointer-events: none;
		body {
			opacity: 0;
		}
	}
}
body {
	margin: 0;
	background-color: $white;
	color: $black;
	font: 1.4rem/1.35 $font;
	/* -webkit-font-smoothing: antialiased; */
	/* -moz-osx-font-smoothing: grayscale; */
}
